<h1>Poker#index</h1>

<% if notice %>
<id p = "notice">
	<%= notice%>
</p>
<% end %>

<%= link_to 'Register', register_path%>

<%
	if signed_in?
%>
	<p>you are signed in</p>

<%	
	else
%>
	<p>you are not signed yet</p>
<%	
	end
%>

<p>
	Find me in app/views/index.html.erb
</p>
