<div class="create_user_form">
	<%= form_for :table, :url => confirm_creation_table_path do |f|%>
	<fieldset>
		<div>
			<%= f.label :name%>:
			<%= f.text_field :name%>
		</div>
		<div>
			<%= f.submit "Create"%>
		</div>	</fieldset>
	<% end %>
</div>	
