<%
if @tables.length == 0
%>
<p>there is no tables for you</p>
<%
else
%>

<table class = "table_tables">
	<tr>
		<th>Tables</th>		
	</tr>	
	<% @tables.each do |t| %>
	<tr>
		<td><%= link_to t, table_path+"?name="+t%></td>
	</tr>
	<% end %>
</table>
<%
end
%>
