<h1>Tables#table</h1>

<p><%=	@table_name %></p>

<p>
<%=
	@messages
%>
</p>

<script type = "text/javascript">
	function sendMessage() {
//		alert(document.getElementById('MessageToSend').value);
		
		
		getMessages();
	}

	function getMessages() {
		$.get(
			'<% send_message_path %>',
			{
				name:'<%= @table_name%>',
				message: document.getElementById('MessageToSend').value
			},
			onGetMessagesSucess
		);
	}

	function onGetMessagesSucess(data) {
		document.getElementById('Messages').value = data;
	}
	
</script>
<%
if signed_in?
%>

	<textarea id = 'Messages'></textarea>
	<textarea id = 'MessageToSend'></textarea>
	<button onClick = 'sendMessage()'>Send Message</button>


<%
else
%>
//	alert("aaaa");
<%
end
%>

<p>Find me in app/views/tables/table.html.erb</p>
